@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	font-family: 'Changa', sans-serif;
}
.wrapper{
	width: auto;
	height: auto;
	margin: auto;
}
body{
	background-size: cover;
	background: #0F0F0F;
	position: relative;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 45px;
	padding-right: 25px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{
	color: #ffffff;
	text-decoration: none;
	padding: 5px 15px;
	font-size: 18px;
}
.nav-area li a:hover{
	background: #ffffff;
	color: black;
	border-radius: 25px;
}
.logo img{
	width: 200px;
	float: left;
	margin-top: 25px;
	padding-left: 25px;
}
.contact-us{
	position: center;
	padding-top: 25%;
	text-align: center;
}
.contact-us h1{
	text-align: center;
	color: white;
	font-size: 50px;
}
.contact-us p{
	text-align: center;
	color: white;
	font-size: 25px;
}
.contact-us a{
	text-decoration: underline;
	padding: 5px 25px;
	font-size: 25px;
	text-align: center;
	color: #02C59E;
	font-size: 25px;
}
.contact-us a:hover{
	background: #ffffff;
	color: #2C83D0;
	border-radius: 25px;
}